@import "https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800"

link = #FF2E63
white = #F6F6F6
light = #08D9D6
dark = #252A34

spacing = 10px

body
  font 14px Arial, sans-serif
  background dark
  font-family 'Open Sans', sans-serif

  .centered
    h1
      margin-left spacing * 2
      color white
      font-weight 400
      small
        display block
        font-size 16px
        color link
        font-weight 200