doctype html
html(lang="en")
  head
    title guerrinha.
    link(href='assets/css/style.css', rel='stylesheet')
    meta(name="viewport" content="width=device-width, initial-scale=1")


  body
    .centered
      h1 Guilherme Guerra
        small front-end developer